@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

@font-face {
  font-family: "Montserrat";
  src:
    url("../fonts/Montserrat.woff") format("woff"),
    url("../fonts/montserrat-v14-latin_cyrillic-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "montserrat_bold";
  src:
    url("../fonts/montserrat_bold.woff") format("woff"),
    url("../fonts/montserrat-v14-latin_cyrillic-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

.newcollection__title {
  font-family: Arial, sans-serif, Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 82px;
  margin-bottom: 5px;
}

.newcollection__text {
  font-family: Arial, sans-serif, Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
}

.newcollection__button {
  font-family: Arial, sans-serif, Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 0px;
}

.newcollection__link {
  font-family: Arial, sans-serif, Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 0px;
  text-decoration: none;
  color: #000;
}
.logo__promo {
  font-family: Arial, sans-serif, Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
}
.ru__link {
  font-family: Arial, sans-serif, Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.collection-title-adaptiv {
  font-family: Arial, sans-serif, Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.card__heading {
 font-family: Montserrat;
 font-style: normal;
 font-weight: bold;
 font-size: 40px;
 line-height: 41px;
}

.card__subheading {
 font-family: Montserrat;
 font-style: normal;
 font-weight: bold;
 font-size: 16px;
 line-height: 16px;
 letter-spacing: 0.07em;
 opacity: 0.5;
}
.text_font_color {
 font-family: Montserrat;
 font-style: normal;
 font-weight: normal;
 font-size: 15px;
 line-height: 22px;
}

.price {
 font-family: Montserrat;
 font-style: normal;
 font-weight: bold;
 font-size: 40px;
 line-height: 56px;
}
.card__choice-button {
 font-family: Montserrat;
 font-style: normal;
 font-weight: 500;
 font-size: 15px;
 line-height: 0px;
}

.card__basket-button_fon_color {
 font-family: Montserrat;
 font-style: normal;
 font-weight: 600;
 font-size: 12px;
 line-height: 0px;
 color: #000;
}
.bagscluth__footer_text_font_small {
 font-family: Montserrat;
 font-style: normal;
 font-weight: 500;
 font-size: 13px;
 line-height: 16px;
}