body {
  margin: 0;
  padding: 0;
}

.header, .collection, {
	z-index: 2;
	position: relative;
	color: white;
}
.header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
}
.wraper::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 400px;
	height: 900px;
	background-color: black;
	z-index: -1;
}
.burgermenu {
  position: relative; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  width: 92px;
  height: 92px;
  background: lightgray;
}
.berger__line {
	margin: 4px;
	width: 34.7px;
    height: 3.48px;
	background-color: #000;
}

.header__promo {
  width: 380px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;

}

.logo__promo {
  color: #fff;
  padding-top: 40px;
  padding-left: 40px;
}

.ru__link {
  display: inline-block;
  color: #fff;
  padding-top: 40px;
  padding-left: 10px;
  text-decoration: none;
}

.collection {
	padding-top: 170px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 750px;
  z-index: 1;

}

.newcollection {
  display: flex;
  flex-direction: column;
  margin: 30px;
  width: 40%;
  height: 600px;
  padding: 20px;
  
}

.newcollection__title {
  margin: 0; 
}

.newcollection__text {
  height: 20%;
  width: 84%;
  padding-bottom: 30px;
}

.collection__left {
  width: 50%;
  display: flex;
  justify-content: center;
}

.collection__image-source {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  padding-left: 100px;
}

.collection__img {
  width: 500px;
  height: 500px;
}

.newcollection__footer {
  width: 88%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.newcollection__link {
  line-height: 10px;
}

.newcollection__button {
  width: 190px;
  height: 40px;
  background-color: #fff;
  border: 1.5px solid #000;
}

.collection__adaptiv {
  display: none;
}

.collection__icon {
  width: 180px;
  position: absolute;
  left: 40px;
  bottom: 50px;
  display: flex;
  justify-content: space-around;
}

.icon-links__item {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.collection__maus {
  position: absolute;
  left: 49%;
  bottom: 60px;
  display: flex;
  justify-content: center;
}
